.card-header {
  background-color: rgb(172, 203, 243);
}
.toggle-switch {
  position: relative;
  width: 90px;
  height: 34;
  display: inline-block;
  /* background-color: brown; */
  border-radius: 15px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(163, 163, 163);
  transition: 0.4s;
  border-radius: 15px;
  width: 5rem;
  height: 1.5rem;
}
.slider::before {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  left: 2px;
  right: 0;
  bottom: 0px;
  content: "";
  border-radius: 17px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider::before {
  transform: translateX(52px);
}
input:checked + .slider {
  border-radius: 15px;
  background-color: rgba(14, 131, 59, 0.87);
}
